
.body_background {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
  }
